<div class="navbar" id="navbar">
  <!-- logo - container -->
    <div class="logo-container">
      <div class="mic-logo">
        <a href="/">
          <img src="https://d5gdqotkuzdho.cloudfront.net/assets/images/new/logo.png" alt="MyInsuranceClub">
        </a>
      </div>
      <div class="mic-right-txt">
      India's 1st IRDAI Approved Insurance Web Aggregator
      </div>
    </div>
  <!-- /logo - container -->
  <!-- nav - container -->
  
    <div class="nav-container">
      <ul class="menu">

        <li class="drop-down">
          <a href="#">Our Products</a>
          <div class="mic-menu">
						<div class="mic-menu-cont">
							<div class="mm-3column">
								<div class="categories-list">
									<div class="hd">Motor Insurance</div>
									<ul>
										<li><a href="/car-insurance">Car Insurance</a></li>
										<li><a href="/two-wheeler">Two-Wheeler Insurance</a></li>
									</ul>
								</div>
							</div>
							<div class="mm-3column">
								<div class="categories-list">
									<div class="hd">Health Insurance</div>
									<ul class="categories-list-child">
										<li><a href="/health-insurance">Health Insurance</a></li>
										<li><a href="/critical-illness">Critical Illness Insurance</a></li>
                    <li><a href="/personal-accident">Personal Accident Insurance</a></li>
                  </ul>
                  <ul>
                      <li><a href="/health-insurance/maternity-insurance">Maternity Plans</a></li>
                      <li><a href="/health-insurance/senior-citizen">Senior Citizens Plans</a></li>
									</ul>
								</div>
							</div>
							<div class="mm-3column">
								<div class="categories-list">
									<div class="hd">Life Insurance</div> 
									<ul class="categories-list-child">
										<li><a href="/life-insurance/term-insurance">Term Plans</a></li>
										<li><a href="/life-insurance/endowment-insurance">Endowment Plans</a></li>
										<li><a href="/life-insurance/money-back-policy">Money Back Plans</a></li>
									</ul>
									<ul>
										<li><a href="/life-insurance/child-plans">Child Plans</a></li>
										<li><a href="/life-insurance/pension-plan">Pension Plans</a></li>
										<li><a href="/life-insurance/ulip">ULIPs</a></li>
									</ul>
								</div>
							</div>
							<div class="mm-3column">
								<div class="categories-list">
									<div class="hd">Other Insurance</div>
									<ul>
										<li><a href="/travel-insurance">Travel Insurance</a></li>
										<li><a href="/home-insurance">Home Insurance</a></li>
										<li><a href="/corporate-insurance">Corporate Insurance</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
        </li>

        <li>
          <a href="#">My Account</a>
        </li>

      </ul>
    </div>
   <!-- /nav - container -->
  </div>
